<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.solvd.airport.persistence.AirlineDAO">

    <resultMap id="airlineMap" type="com.solvd.airport.domain.Airline">
        <id column="airline_code" property="airlineCode"/>
        <result column="airline_name" property="airlineName"/>
        <result column="address_id" property="addressId"/>
    </resultMap>

    <insert id="createAirline" parameterType="com.solvd.airport.domain.Airline">
        INSERT INTO airlines (airline_code, airline_name, address_id)
        VALUES (
        #{airlineObj.airlineCode},
        #{airlineObj.airlineName},
        #{airlineObj.addressId}
        )
    </insert>

    <insert id="createAirlineWithoutAddress" parameterType="com.solvd.airport.domain.Airline">
        INSERT INTO airlines (airline_code, airline_name)
        VALUES (
        #{airlineObj.airlineCode},
        #{airlineObj.airlineName}
        )
    </insert>

    <select id="doesAirlineExist" parameterType="String" resultType="boolean">
        SELECT COUNT(*) > 0 FROM airlines
        WHERE airline_code = #{airlineCode}
    </select>

</mapper>
