<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.solvd.airport.persistence.AirlineStaffMemberDAO">

    <resultMap id="airlineStaffMemberMap" type="com.solvd.airport.domain.AirlineStaffMember">
        <id column="airline_staff_id" property="airlineStaffId"/>
        <result column="member_role" property="memberRole"/>
        <result column="person_info_id" property="personInfoId"/>
    </resultMap>

    <insert id="createAirlineStaffMember"
            parameterType="com.solvd.airport.domain.AirlineStaffMember" useGeneratedKeys="true"
            keyProperty="airlineStaffId">
        INSERT INTO airline_staff (member_role, person_info_id)
        VALUES (
        #{staffMemberObj.memberRole},
        #{staffMemberObj.personInfoId}
        )
    </insert>

    <select id="getAirlineStaffMemberById" resultType="com.solvd.airport.domain.AirlineStaffMember"
            resultMap="airlineStaffMemberMap">
        SELECT * FROM airline_staff WHERE airline_staff_id = #{airlineStaffId}
    </select>

    <select id="findByPersonInfoId" resultType="com.solvd.airport.domain.AirlineStaffMember"
            resultMap="airlineStaffMemberMap">
        SELECT * FROM airline_staff WHERE person_info_id = 9
    </select>

    <select id="findByEmailAddress" resultType="com.solvd.airport.domain.AirlineStaffMember"
            resultMap="airlineStaffMemberMap">
        SELECT staff.* FROM airline_staff AS staff
        JOIN person_info AS person ON staff.person_info_id = person.person_info_id
        JOIN person_email_addresses AS pea ON person.person_info_id = pea.person_info_id
        JOIN email_addresses AS email ON pea.email_address_id = email.email_address_id
        WHERE email.email_address = #{emailAddress}
    </select>


    <update id="updateAirlineStaffMember"
            parameterType="com.solvd.airport.domain.AirlineStaffMember">
        UPDATE airline_staff
        SET
        member_role = #{staffMemberObj.memberRole},
        person_info_id = #{staffMemberObj.personInfoId}
        WHERE airline_staff_id = #{staffMemberObj.airlineStaffId}
    </update>

    <delete id="deleteAirlineStaffMember">
        DELETE FROM airline_staff WHERE airline_staff_id = #{airlineStaffId}
    </delete>

</mapper>
