<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.solvd.airport.persistence.BaggageDAO">

    <resultMap id="baggageMap" type="Baggage">
        <id column="baggage_id" property="baggageId"/>
        <result column="baggage_code" property="baggageCode"/>
        <result column="weight" property="weight"/>
        <result column="price" property="price"/>
        <result column="check_in_id" property="checkInId"/>
    </resultMap>

    <insert id="create" parameterType="Baggage"
            useGeneratedKeys="true" keyProperty="baggageId">
        INSERT INTO baggage (baggage_code, weight, price, check_in_id)
        VALUES (
        #{baggageObj.baggageCode},
        #{baggageObj.weight},
        #{baggageObj.price},
        #{baggageObj.checkInId}
        )
    </insert>

    <select id="getById" parameterType="int" resultMap="baggageMap">
        SELECT * FROM baggage
        WHERE baggage_id = #{baggageId}
    </select>


    <select id="getBaggageByCode" resultMap="baggageMap" parameterType="String">
        SELECT * FROM baggage WHERE baggage_code = #{baggageCode}
    </select>

    <update id="update" parameterType="Baggage">
        UPDATE baggage
        SET
        baggage_code = #{baggageObj.baggageCode},
        weight = #{baggageObj.weight},
        price = #{baggageObj.price},
        check_in_id = #{baggageObj.checkInId}
        WHERE baggage_id = #{baggageObj.baggageId}
    </update>


    <update id="updateBaggageByCode" parameterType="Baggage">
        UPDATE baggage
        SET
        weight = #{baggageObj.weight},
        price = #{baggageObj.price},
        check_in_id = #{baggageObj.checkInId}
        WHERE baggage_code = #{baggageObj.baggageCode}
    </update>

    <delete id="delete" parameterType="int">
        DELETE FROM baggage
        WHERE baggage_id = #{baggageId}
    </delete>


    <delete id="deleteBaggageByCode" parameterType="String">
        DELETE FROM baggage
        WHERE baggage_code = #{baggageCode}
    </delete>


</mapper>
