<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.solvd.airport.persistence.CountryDAO">

    <resultMap id="countryMap" type="com.solvd.airport.domain.Country">
        <id column="country_code" property="countryCode"/>
        <result column="country_name" property="countryName"/>
    </resultMap>

    <insert id="createCountry" parameterType="com.solvd.airport.domain.Country">
        INSERT INTO countries (country_code, country_name)
        VALUES (
        #{countryObj.countryCode},
        #{countryObj.countryName}
        )
    </insert>

    <select id="getCountryByCode" resultType="com.solvd.airport.domain.Country"
            resultMap="countryMap">
        SELECT * FROM countries WHERE country_code = #{countryCode}
    </select>

    <update id="updateCountry" parameterType="com.solvd.airport.domain.Country">
        UPDATE countries
        SET
        country_name = #{countryObj.countryName}
        WHERE country_code = #{countryObj.countryCode}
    </update>

    <delete id="deleteCountry">
        DELETE FROM countries WHERE country_code = #{countryCode}
    </delete>

    <select id="doesCountryCodeExist" parameterType="String" resultType="boolean">
        SELECT COUNT(*) > 0 FROM countries
        WHERE country_code = #{countryCode}
    </select>

</mapper>
