<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.solvd.airport.persistence.CountryDAO">

    <resultMap id="countryMap" type="Country">
        <id column="country_id" property="countryId"/>
        <result column="country_code" property="countryCode"/>
        <result column="country_name" property="countryName"/>
    </resultMap>

    <insert id="create" parameterType="Country"
            useGeneratedKeys="true" keyProperty="countryId">
        INSERT INTO countries (country_code, country_name)
        VALUES (
        #{countryObj.countryCode},
        #{countryObj.countryName}
        )
    </insert>

    <select id="getById" parameterType="int" resultMap="countryMap">
        SELECT * FROM countries
        WHERE country_id = #{countryId}
    </select>

    <select id="getCountryByCode" resultMap="countryMap" parameterType="String">
        SELECT * FROM countries
        WHERE country_code = #{countryCode}
    </select>

    <update id="update" parameterType="Country">
        UPDATE countries
        SET
        country_code = #{countryObj.countryCode},
        country_name = #{countryObj.countryName}
        WHERE country_id = #{countryObj.countryId}
    </update>

    <update id="updateCountryByCode" parameterType="Country">
        UPDATE countries
        SET
        country_name = #{countryObj.countryName}
        WHERE country_code = #{countryObj.countryCode}
    </update>

    <delete id="delete" parameterType="int">
        DELETE FROM countries
        WHERE country_id = #{countryId}
    </delete>

    <delete id="deleteCountryByCode" parameterType="String">
        DELETE FROM countries
        WHERE country_code = #{countryCode}
    </delete>

    <select id="doesCountryCodeExist" resultType="boolean" parameterType="String">
        SELECT COUNT(*) > 0 FROM countries
        WHERE country_code = #{countryCode}
    </select>

</mapper>
