<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.solvd.airport.persistence.EmailAddressDAO">

    <resultMap id="emailAddressMap" type="com.solvd.airport.domain.EmailAddress">
        <id column="email_address_id" property="emailAddressId"/>
        <result column="email_address" property="emailAddress"/>
    </resultMap>

    <insert id="createEmailAddress" parameterType="com.solvd.airport.domain.EmailAddress"
            useGeneratedKeys="true" keyProperty="emailAddressId">
        INSERT INTO email_addresses (email_address)
        VALUES (
            #{emailAddressObj.emailAddress}
        )
    </insert>

    <select id="getEmailAddressById" resultType="com.solvd.airport.domain.EmailAddress"
            resultMap="emailAddressMap">
        SELECT * FROM email_addresses WHERE email_address_id = #{emailAddressId}
    </select>

    <select id="getEmailAddressByEmail" resultType="com.solvd.airport.domain.EmailAddress"
            resultMap="emailAddressMap">
        SELECT * FROM email_addresses WHERE email_address = #{email}
    </select>

    <update id="updateEmailAddress" parameterType="com.solvd.airport.domain.EmailAddress">
        UPDATE email_addresses
        SET
            email_address = #{emailAddressObj.emailAddress}
        WHERE email_address_id = #{emailAddressObj.emailAddressId}
    </update>

    <delete id="deleteEmailAddress">
        DELETE FROM email_addresses WHERE email_address_id = #{emailAddressId}
    </delete>

</mapper>
