<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.solvd.airport.persistence.PersonPhoneNumberDAO">

    <resultMap id="personPhoneNumberMap" type="com.solvd.airport.domain.PersonPhoneNumber">
        <id column="person_info_id" property="personInfoId"/>
        <id column="phone_number_id" property="phoneNumberId"/>
    </resultMap>

    <insert id="createPersonPhoneNumber" parameterType="com.solvd.airport.domain.PersonPhoneNumber">
        INSERT INTO person_phone_numbers (person_info_id, phone_number_id)
        VALUES (
        #{personPhoneNumberObj.personInfoId},
        #{personPhoneNumberObj.phoneNumberId}
        )
    </insert>

    <select id="getPersonPhoneNumberById" resultType="com.solvd.airport.domain.PersonPhoneNumber"
            resultMap="personPhoneNumberMap">
        SELECT * FROM person_phone_numbers
        WHERE
        person_info_id = #{personInfoId}
        AND phone_number_id = #{phoneNumberId}
    </select>

    <update id="updatePersonPhoneNumber" parameterType="com.solvd.airport.domain.PersonPhoneNumber">
        UPDATE person_phone_numbers
        SET
        phone_number_id = #{personPhoneNumberObj.phoneNumberId}
        WHERE person_info_id = #{personPhoneNumberObj.personInfoId}
    </update>

    <delete id="deletePersonPhoneNumber">
        DELETE FROM person_phone_numbers
        WHERE
        person_info_id = #{personInfoId}
        AND phone_number_id = #{phoneNumberId}
    </delete>

</mapper>
