<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.solvd.airport.persistence.PersonAddressDAO">

    <resultMap id="personAddressMap" type="com.solvd.airport.domain.PersonAddress">
        <id column="person_info_id" property="personInfoId"/>
        <id column="address_id" property="personAddressId"/>
    </resultMap>

    <insert id="createPersonAddress" parameterType="com.solvd.airport.domain.PersonAddress">
        INSERT INTO person_addresses (person_info_id, address_id)
        VALUES (
        #{personAddressObj.personInfoId}, #{personAddressObj.addressId}
        )
    </insert>

    <select id="getPersonAddressById" resultType="com.solvd.airport.domain.PersonAddress"
            resultMap="personAddressMap">
        SELECT * FROM person_addresses
        WHERE
        person_info_id = #{personInfoId}
        AND address_id = #{addressId}
    </select>

    <update id="updatePersonAddress" parameterType="com.solvd.airport.domain.PersonAddress">
        UPDATE person_addresses
        SET
        address_id = #{personAddressObj.addressId}
        WHERE person_info_id = #{personAddressObj.personInfoId}
    </update>

    <delete id="deletePersonAddress">
        DELETE FROM person_addresses
        WHERE
        person_info_id = #{personInfoId}
        AND address_id = #{addressId}
    </delete>

</mapper>
