<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.solvd.airport.persistence.PersonEmailAddressDAO">

    <resultMap id="personEmailAddressMap" type="com.solvd.airport.domain.PersonEmailAddress">
        <id column="person_info_id" property="personInfoId"/>
        <id column="email_address_id" property="emailAddressId"/>
    </resultMap>

    <insert id="createPersonEmailAddress"
            parameterType="com.solvd.airport.domain.PersonEmailAddress">
        INSERT INTO person_email_addresses (person_info_id, email_address_id)
        VALUES (
        #{personEmailAddressObj.personInfoId},
        #{personEmailAddressObj.emailAddressId}
        )
    </insert>

    <select id="getPersonEmailAddressById" resultType="com.solvd.airport.domain.PersonEmailAddress"
            resultMap="personEmailAddressMap">
        SELECT * FROM person_email_addresses
        WHERE
        person_info_id = #{personInfoId}
        AND email_address_id = #{emailAddressId}
    </select>

    <select id="getPersonEmailAddressByEmail"
            resultType="com.solvd.airport.domain.PersonEmailAddress"
            resultMap="personEmailAddressMap">
        SELECT pea.person_info_id, pea.email_address_id
        FROM person_email_addresses AS pea
        JOIN
        email_addresses AS ea ON pea.email_address_id = ea.email_address_id
        WHERE ea.email_address = #{emailAddress}
    </select>

    <update id="updatePersonEmailAddress"
            parameterType="com.solvd.airport.domain.PersonEmailAddress">
        UPDATE person_email_addresses
        SET
        email_address_id = #{personEmailAddressObj.emailAddressId}
        WHERE person_info_id = #{personEmailAddressObj.personInfoId}
    </update>

    <delete id="deletePersonEmailAddress">
        DELETE FROM person_email_addresses
        WHERE
        person_info_id = #{personInfoId}
        AND email_address_id = #{emailAddressId}
    </delete>

</mapper>
