<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.solvd.airport.persistence.PhoneNumberDAO">

    <resultMap id="phoneNumberMap" type="PhoneNumber">
        <id column="phone_number_id" property="phoneNumberId"/>
        <result column="phone_number" property="phoneNumber"/>
        <result column="extension" property="extension"/>

        <collection
                property="peopleWithPhoneNumber"
                column="phone_number_id"
                notNullColumn="phone_number_id"
                javaType="Set"
                select="getPeopleByPhoneNumberId"
        />
    </resultMap>

    <insert id="create" parameterType="PhoneNumber"
            useGeneratedKeys="true" keyProperty="phoneNumberId">
        INSERT INTO phone_numbers (phone_number, extension)
        VALUES (
        #{phoneNumberObj.phoneNumber},
        #{phoneNumberObj.extension}
        )
    </insert>

    <insert id="createPersonAssociation" parameterType="map"
            useGeneratedKeys="true" keyProperty="generatedId">
        INSERT INTO person_phone_numbers (person_info_id, phone_number_id)
        VALUES (
        #{personInfoId},
        #{contactId}
        )
    </insert>

    <select id="getById" resultType="PhoneNumber"
            resultMap="phoneNumberMap" parameterType="int">
        SELECT * FROM phone_numbers
        WHERE phone_number_id = #{phoneNumberId}
    </select>

    <select id="getPhoneNumberByNumber" resultMap="phoneNumberMap" parameterType="String">
        SELECT * FROM phone_numbers
        WHERE phone_number = #{phoneNumber}
    </select>

    <update id="update" parameterType="PhoneNumber">
        UPDATE phone_numbers
        SET
        phone_number = #{phoneNumberObj.phoneNumber},
        extension = #{phoneNumberObj.extension}
        WHERE phone_number_id = #{phoneNumberObj.phoneNumberId}
    </update>

    <delete id="delete" parameterType="int">
        DELETE FROM phone_numbers
        WHERE phone_number_id = #{phoneNumberId}
    </delete>

    <select id="getPeopleByPhoneNumberId" parameterType="int"
            resultMap="com.solvd.airport.persistence.PersonInfoDAO.personInfoMap">
        SELECT pi.*
        FROM person_info pi
        JOIN person_phone_numbers ppn
        ON pi.person_info_id = ppn.person_info_id
        WHERE ppn.phone_number_id = #{phoneNumberId}
    </select>


</mapper>
