<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.solvd.airport.persistence.TimezoneDAO">

    <resultMap id="timezoneMap" type="Timezone">
        <id column="timezone_id" property="timezoneId"/>
        <result column="timezone" property="timezone"/>
    </resultMap>

    <insert id="create" parameterType="Timezone"
            useGeneratedKeys="true" keyProperty="timezoneId">
        INSERT INTO timezones (timezone)
        VALUES (
        #{timezoneObj.timezone}
        )
    </insert>

    <select id="getById" parameterType="int" resultMap="timezoneMap">
        SELECT * FROM timezones
        WHERE timezone_id = #{timezoneId}
    </select>

    <select id="getTimezoneByTz" parameterType="String" resultMap="timezoneMap">
        SELECT * FROM timezones
        WHERE timezone = #{timezone}
    </select>

    <update id="update" parameterType="Timezone">
        UPDATE timezones
        SET timezone = #{timezone}
        WHERE timezone_id = #{timezoneId}
    </update>

    <delete id="delete" parameterType="int">
        DELETE FROM timezones
        WHERE timezone_id = #{timezoneId}
    </delete>

    <delete id="deleteTimezoneByTz" parameterType="String">
        DELETE FROM timezones
        WHERE timezone = #{timezone}
    </delete>

    <select id="doesTimezoneExist" parameterType="String" resultType="boolean">
        SELECT COUNT(*) > 0 FROM timezones
        WHERE timezone = #{timezone}
    </select>

</mapper>
