<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd"
        >
<configuration>
    <properties resource="config.properties"/>

    <typeAliases>
        <!--    java.util    -->
        <typeAlias alias="Set" type="java.util.Set"/>

        <!--    com.solvd.airport    -->
        <typeAlias alias="Address" type="com.solvd.airport.domain.Address"/>
        <typeAlias alias="Airline" type="com.solvd.airport.domain.Airline"/>
        <typeAlias alias="AirlineStaffMember" type="com.solvd.airport.domain.AirlineStaffMember"/>
        <typeAlias alias="Airport" type="com.solvd.airport.domain.Airport"/>
        <typeAlias alias="Baggage" type="com.solvd.airport.domain.Baggage"/>
        <typeAlias alias="BoardingPass" type="com.solvd.airport.domain.BoardingPass"/>
        <typeAlias alias="Booking" type="com.solvd.airport.domain.Booking"/>
        <typeAlias alias="CheckIn" type="com.solvd.airport.domain.CheckIn"/>
        <typeAlias alias="Country" type="com.solvd.airport.domain.Country"/>
        <typeAlias alias="EmailAddress" type="com.solvd.airport.domain.EmailAddress"/>
        <typeAlias alias="Flight" type="com.solvd.airport.domain.Flight"/>
        <typeAlias alias="FlightStaffMember" type="com.solvd.airport.domain.FlightStaffMember"/>
        <typeAlias alias="Gate" type="com.solvd.airport.domain.Gate"/>
        <typeAlias alias="Passport" type="com.solvd.airport.domain.Passport"/>
        <typeAlias alias="PersonInfo" type="com.solvd.airport.domain.PersonInfo"/>
        <typeAlias alias="PhoneNumber" type="com.solvd.airport.domain.PhoneNumber"/>
        <typeAlias alias="Terminal" type="com.solvd.airport.domain.Terminal"/>
        <typeAlias alias="Timezone" type="com.solvd.airport.domain.Timezone"/>
    </typeAliases>

    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="${jdbc.driver}"/>
                <property name="url" value="${jdbc.url}"/>
                <property name="username" value="${jdbc.username}"/>
                <property name="password" value="${jdbc.password}"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <mapper resource="mappers/AddressMapper.xml"/>
        <mapper resource="mappers/AirlineMapper.xml"/>
        <mapper resource="mappers/AirlineStaffMemberMapper.xml"/>
        <mapper resource="mappers/AirportMapper.xml"/>
        <mapper resource="mappers/BaggageMapper.xml"/>
        <mapper resource="mappers/BoardingPassMapper.xml"/>
        <mapper resource="mappers/BookingMapper.xml"/>
        <mapper resource="mappers/CheckInMapper.xml"/>
        <mapper resource="mappers/CountryMapper.xml"/>
        <mapper resource="mappers/EmailAddressMapper.xml"/>
        <mapper resource="mappers/FlightMapper.xml"/>
        <mapper resource="mappers/GateMapper.xml"/>
        <mapper resource="mappers/PassportMapper.xml"/>
        <mapper resource="mappers/PersonInfoMapper.xml"/>
        <mapper resource="mappers/PhoneNumberMapper.xml"/>
        <mapper resource="mappers/TerminalMapper.xml"/>
        <mapper resource="mappers/TimezoneMapper.xml"/>
    </mappers>
</configuration>
